/* # General */
/* ## Font */
/* The fonts going to be used: Barlow, w:600; Fraunces, w:700, 900; */
@font-face {
    font-family: "Barlow";
    src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces/Fraunces-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces/Fraunces-ExtraBold.ttf);
    font-weight: 900;
}
/* Other */
* {
    font-family: "Barlow", sans-serif;
    user-select: none;
}
html {
    font-size: 18px;
}
h1, h2, h3, h4, strong {
    font-family: "Fraunces";
}

/* # Constants */
/* ## Colors */
:root {
    /* ### primary */
    --soft-red: #fe7867;
    --yellow: #fad400;
    --dark-desaturated-cyan: #25564b;
    --dark-blue: #19536b;
    --dark-moderate-cyan: #458c7e;
    /* ### Neutral */
    --very-dark-desaturated-blue: #23303e;
    --very-dark-grayish-blue: #5a636c;
    --dark-grayish-blue: #818498;
    --grayish-blue: #a7abae;
    /* white color */
}

/* # Layout and Design */
.flex-center-content {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 375px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3ebeff;
        height: 80px;
        width: 100%;
    }
    #site-logo {
        margin-left: 20px;
    }
    #mobile-nav-button {
        background-image: url("../images/mobile-nav-icon.jpg");
        border: none;
        background-color: transparent;
        width: 25px;
        height: 25px;
        background-size: 100%;
        margin-right: 20px;
    }

    #desktop-nav {
        display: none;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #hero-section {
        position: relative;
        z-index: -1;
        height: 450px;
    }
    #hero-section h1 {
        position: absolute;
        z-index: 1;
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 2.3rem;
        letter-spacing: 6px;
        line-height: 2.8rem;
        bottom: 300px;
    }
    #hero-cover-image {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    #arrow-down-icon {
        position: absolute;
        bottom: 132px;
    }

    .promotion-section {
        position: relative;
        flex-direction: column;
        background-color: rgb(247, 241, 229);
    }
    .promotion-section img {
        width: 100%;
    }
    .promotion-section h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .promotion-section p {
        text-align: center;
        width: 86%;
        align-self: center;
        color: var(--very-dark-grayish-blue);
        line-height: 1.5rem;
        margin-bottom: 30px;
    }
    .promotion-section a {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-bottom: 70px;
        font-family: "Fraunces";
    }
    .promotion-section .text-underline {
        position: absolute;
        z-index: 0;
        align-self: center;
        width: 138px;
        height: 9px;
        bottom: 65px;
        border-radius: 15%;
        opacity: 0.3;
    }
    .yellow-bg {
        background-color: var(--yellow);
    }
    .red-bg {
        background-color: var(--soft-red);
    }

    .feature-section {
        position: relative;
        height: 570px;
        background-size: 100%;
    }
    .feature-section h3 {
        position: relative;
        text-align: center;
        font-size: 1.7rem;
        font-weight: bolder;
        top: 380px;
    }
    .feature-section p {
        position: relative;
        width: 90%;
        margin: 0 auto;
        align-self: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.45rem;
        top: 408px;
    }
    .cherry-bg {
        background-image: url("../images/mobile/image-graphic-design.jpg");
    }
    .orange-bg {
        background-image: url("../images/mobile/image-photography.jpg");
    }
    .dark-cyan-color {
        color: var(--dark-desaturated-cyan);
    }
    .dark-blue-color {
        color: var(--dark-blue);
    }

    #testimonial-section {
        background-color: rgb(247, 241, 229);
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    #testimonial-section h4 {
        color: var(--grayish-blue);
        margin-top: 70px;
        margin-bottom: 65px;
        letter-spacing: 5px;
        font-size: 0.95rem;
    }
    .testimonial-info {
        flex-direction: column;
        align-items: center;
    }
    .testimonial-info img {
        border-radius: 50%;
        width: 20%;
        align-self: center;
        margin-bottom: 38px;
    }
    .testimonial-info p {
        width: 88%;
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 35px;
    }
    .testimonial-info strong {
        font-size: 1.1rem;
        font-weight: bolder;
        margin-bottom: 15px;
    }
    .testimonial-info small {
        color: var(--grayish-blue);
        font-size: 0.8rem;
        margin-bottom: 65px;
    }

    .grid-no-gap {
        display: grid;
        width: 100%;
        grid-template: repeat(2, auto) / repeat(2, auto);
    }
    .grid-no-gap img {
        width: 100%;
    }

    #footer-content {
        flex-direction: column;
        align-items: center;
    }
    #footer-overlay {
        position: absolute;
        background-color: var(--dark-moderate-cyan);
        opacity: 0.5;
        z-index: 99;
        height: 360px;
        width: 100%;
    }
    #site-logo-footer {
        filter: brightness(0.2);
        width: 170px;
        margin-top: 65px;
        margin-bottom: 40px;
    }
    #footer-nav {
        display: flex;
        justify-content: space-around;
        width: 95%;
        font-family: "Barlow";
        color: var(--very-dark-grayish-blue);
        margin-bottom: 90px;
    }
    footer .social-media-links {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    footer .social-media-links img {
        margin: 0 10px;
        filter: brightness(0.4);
    }
}

@media only screen and (min-width: 992px) {
    header {
        height: 100px;
    }
    #site-logo {
        margin-left: 40px;
        width: 150px;
    }
    #desktop-nav {
        display: inline-block;
    }
    #desktop-nav a {
        font-family: "Barlow";
        color: white;
        margin: 0 20px;
    }
    #desktop-nav button {
        font-family: "Fraunces";
        margin: 0 40px 0 20px;
        border-color: transparent;
        padding: 15px 20px;
        background-color: white;
        border-radius: 25px;
    }

    #mobile-nav-button {
        display: none;
    }

    #hero-section {
        position: relative;
        z-index: -1;
        height: 695px;
    }
    #hero-section h1 {
        font-size: 3.5rem;
        letter-spacing: 8px;
        bottom: 550px;
    }
    #hero-cover-image {
        content: url("../images/desktop/image-header.jpg");
    }
    #arrow-down-icon {
        position: absolute;
        bottom: 330px;
    }

    .promotion-section img {
        width: 50%;
    }
    #transform-section {
        flex-direction: row-reverse;
    }
    #transform-section img {
        content: url("../images/desktop/image-transform.jpg");
    }
    #standout-section {
        flex-direction: row;
    }
    #standout-section img {
        content: url("../images/desktop/image-stand-out.jpg");
    }
    .promotion-section h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .promotion-section p {
        text-align: center;
        width: 86%;
        align-self: center;
        color: var(--very-dark-grayish-blue);
        line-height: 1.5rem;
        margin-bottom: 30px;
    }
    .promotion-section a {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-bottom: 70px;
        font-family: "Fraunces";
    }
    .promotion-section .text-underline {
        position: absolute;
        z-index: 0;
        align-self: center;
        width: 138px;
        height: 9px;
        bottom: 65px;
        border-radius: 15%;
        opacity: 0.3;
    }
    .yellow-bg {
        background-color: var(--yellow);
    }
    .red-bg {
        background-color: var(--soft-red);
    }

    .feature-section {
        position: relative;
        height: 570px;
        background-size: 100%;
    }
    .feature-section h3 {
        position: relative;
        text-align: center;
        font-size: 1.7rem;
        font-weight: bolder;
        top: 380px;
    }
    .feature-section p {
        position: relative;
        width: 90%;
        margin: 0 auto;
        align-self: center;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.45rem;
        top: 408px;
    }
    .cherry-bg {
        background-image: url("../images/mobile/image-graphic-design.jpg");
    }
    .orange-bg {
        background-image: url("../images/mobile/image-photography.jpg");
    }
    .dark-cyan-color {
        color: var(--dark-desaturated-cyan);
    }
    .dark-blue-color {
        color: var(--dark-blue);
    }

    #testimonial-section {
        background-color: rgb(247, 241, 229);
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    #testimonial-section h4 {
        color: var(--grayish-blue);
        margin-top: 70px;
        margin-bottom: 65px;
        letter-spacing: 5px;
        font-size: 0.95rem;
    }
    .testimonial-info {
        flex-direction: column;
        align-items: center;
    }
    .testimonial-info img {
        border-radius: 50%;
        width: 20%;
        align-self: center;
        margin-bottom: 38px;
    }
    .testimonial-info p {
        width: 88%;
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 35px;
    }
    .testimonial-info strong {
        font-size: 1.1rem;
        font-weight: bolder;
        margin-bottom: 15px;
    }
    .testimonial-info small {
        color: var(--grayish-blue);
        font-size: 0.8rem;
        margin-bottom: 65px;
    }

    .grid-no-gap {
        display: grid;
        width: 100%;
        grid-template: repeat(2, auto) / repeat(2, auto);
    }
    .grid-no-gap img {
        width: 100%;
    }

    #footer-content {
        flex-direction: column;
        align-items: center;
    }
    #footer-overlay {
        position: absolute;
        background-color: var(--dark-moderate-cyan);
        opacity: 0.5;
        z-index: 99;
        height: 360px;
        width: 100%;
    }
    #site-logo-footer {
        filter: brightness(0.2);
        width: 170px;
        margin-top: 65px;
        margin-bottom: 40px;
    }
    #footer-nav {
        display: flex;
        justify-content: space-around;
        width: 95%;
        font-family: "Barlow";
        color: var(--very-dark-grayish-blue);
        margin-bottom: 90px;
    }
    footer .social-media-links {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    footer .social-media-links img {
        margin: 0 10px;
        filter: brightness(0.4);
    }
}